<div class="col-md-12">
    <div class="ms-5">
     <%= link_to "Back to company" , companies_path, class:"btn btn-primary" %>
     <%= link_to "Create employee", new_company_employee_path, class:"btn btn-warning" %>
    </div>
    <div class="container ">
         <h5 class="card-title text-center fs-3 mt-4">Employees Details</h5>
        <div class="row mt-3">
            <% @employees.each do |employee| %>
                <div class="col-md-4">
                    <div class="card" style="width: 20rem;">
                            <div class="card-body">
                                <p class="card-text">First Name:- <%= employee.first_name %></p>
                                <p class="card-text">Last Name:- <%= employee.last_name %></p>
                                <p class="card-text">Gender:- <%= employee.gender %></p>
                                <p class="card-text">Email Address:- <%= employee.email_address %></p>
                                <p class="card-text">Employee Id: <%= employee.employee_id %></p>
                                <%= link_to "Show" , company_employee_path(@company,employee), class:"btn btn-warning" %>
                            </div>
                    </div>
                </div>
            <% end %>
        </div>
    </div>
</div>


