<div class="col-md-12">
  <div class="col-md-8 mx-auto">
    <div class="container">
      <div class="row">
        <% @companies.each do |company| %>
          <div class="col-md-4 mb-4">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Company Details</h5>
                <p class="card-text">Company Name:<%= company.name %></p>
                <p class="card-text">Latitude: <%= company.latitude %></p>
                <p class="card-text">Longitude: <%= company.longitude %></p>
                <p class="card-text">Radius<span class="text-danger">(in km)</span>: <%= company.radius %></p>
                <button type="button" class="btn btn-primary" data-mdb-ripple-init>Button</button>
                <%= link_to "Employees", company_employees_path(company), class: "btn btn-primary my-3" %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
