<div class="col-md-12">
  <div class="col-md-8 mx-auto">
        <p><span><%= link_to 'New Attendance', new_company_employee_attendance_path(@company,@employee), class:"btn btn-primary" %></span>
          <span><%= link_to "Back", company_employee_path(@company,@employee), class:"btn btn-danger"%> </span>
    <div class="text-center">
        <h1><span><%#= @attendances.employee.first_name %></span> Attdence</h1>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Employee Id</th>
            <th scope="col">Date</th>
            <th scope="col">Check in time</th>
            <th scope="col">Name</th>
          </tr>
        </thead>
        <tbody class="table-group-divider">
           <% @attendances.each do |attendance| %>
            <tr>
              <th scope="row"><%= attendance.employee.employee_id%></th>
              <td><%= attendance.check_in_time.strftime("%d-%m-%Y") %></td>
              <td><%= attendance.check_in_time.strftime("%I:%M %p") %></td>
              <td><%= attendance.employee.first_name %><%= attendance.employee.last_name%></td>
              <td><%= link_to 'Edit', edit_company_employee_attendance_path(@company,@employee, attendance) %></td>
            </tr>
            <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>



